.action {
    margin-bottom: 20px;
    padding: 10px;
    border-left: 8px solid #9900ff; /* Adds a left border for emphasis */
    background: #f8f9fa; /* Light gray background */
    border-radius: 5px;
}

.action dt {
    font-weight: bold;
    font-size: 1.2em;
    color: #050101;
}

.action dd {
    margin-left: 10px;
    font-size: 1em;
    color: #555;
}
